{% extends "base.html" %}

{% block main_content %}
<h2>Le jeu de bataille navale Lego le plus passionante du monde !</h2>

<p id="parag_description">
	Vous pouvez jouer soit seul·e soit avec des ami·e·s !
	<br>
	Utilisez le menu à gauche pour découvrir les fonctionnalités de ce site.
</p>

<p>Que faire sur ce site ?</p>
<ul>
	<li>Afficher les données de la base</li>
	<li>Ajouter une série</li>
	<li>Rechercher une série ou une actrice</li>
	<li>Générer un historique de votre activité sur le site</li>
	<li>...</li>
</ul>

<div>
	<img src="projet/static/img/bloque_ejemplo.png" />
</div>

{% include 'message.html' %}

{% endblock %}