{% extends "base.html" %}

{% block main_content %}
<h2>Le jeu de bataille navale Lego le plus passionante du monde !</h2>

<p id="parag_description">
	Vous pouvez jouer soit seul·e soit avec des ami·e·s !
	<br>
	Utilisez le menu à gauche pour découvrir les fonctionnalités de ce site.
</p>

<p>Que faire sur ce site ?</p>
<ul>
	<li>{{REQUEST_VARS['message_usine']}}</li>
	<li>{{REQUEST_VARS['message_brique']}}</li>
	<li>{{REQUEST_VARS['message_partie']}}</li>
	<li>{{REQUEST_VARS['message_couleur']}}</li>
	<li>{{REQUEST_VARS['message_score']}}</li>
	<li>{{REQUEST_VARS['message_max_defausse']}}</li>
	<li>{{REQUEST_VARS['message_moy_tours']}}</li>
	<li>{{REQUEST_VARS['message_parties_pieces']}}</li>
	
	<li>...</li>
</ul>

<div>
	<img src="projet/static/img/bloque_ejemplo.png" />
</div>

{% include 'message.html' %}

{% endblock %}