{% extends "base.html" %}

{% block main_content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu Start</title>
</head>
<body>
    <h1>Démarrer une nouvelle partie</h1>
    <form action="/jeu" method="post">
        <label for="rows-input">Nombre de hauteur :</label>
        <input type="number" id="rows-input" name="rows" value="{{ REQUEST_VARS['rows'] }}" min="1">
            
        <label for="cols-input">Nombre de longueur:</label>
        <input type="number" id="cols-input" name="cols" value="{{ REQUEST_VARS['cols'] }}" min="1">
        
        
        <label for="max_tours">Nombre de tours maximum (optionnel) :</label>
        <input type="number" id="max_tours" name="max_tours"><br><br>
        
        <label for="mode">Mode :</label>
        <label>
            <input type="radio" name="difficulty" value="facile" required> Facile
        </label>
        <label>
            <input type="radio" name="difficulty" value="difficile" required> Difficile
        </label><br><br>
        
        <button type="submit">Démarrer la partie</button>
    </form>
</body>
</html>

{% endblock %}